
@{
    ViewData["Title"] = "List";
}

<h1 style="padding:50px 0 50px 200px">圖表分析</h1>

<div class="text-center">
    <div style="padding:0 0 0 200px"@*style="padding:150px 0 0 200px"*@ @*style="height: 100vh ; width:100vh"*@>
        <iframe  width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiMjU5YjE2YjEtZDk3OC00YjlhLTk4NGMtYjNhMWM4YWQzMjZjIiwidCI6IjJkNGRmNzRjLWExMmItNDNiYy04MmZmLTMwMDAwNzVhNjVmYSIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>