    /*所有課程介紹*/


    body {
    background-color: black;
    }
    /*標頭區塊CSS*/

    .outer-frame .container {
    position: relative;
    display:flex;
    background-color:rgba(0,0,0,.1);
    justify-content:center;
    background-size:contain;
    overflow:hidden;
    }
    /*標頭CSS*/
    .div-container-out {
        height: 300px;
        width: 100%;
    }
    
    .div-container {
        height: 100%;
        width: 100%;
        position: relative;
        overflow:hidden;
    }
    
    .topheader-title {
        font-size: 50px;
        font-weight: bold;
        font-family: Helvetica;
        top: 200%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #ffffff;
        background-color: rgba(0,0,0,.4);
        transition:.5s;
    }
    
    .div-container img {
        height: 100%;
        width: 100%;
    }


    .intro-title {
    font-size:50px;
    font-weight: bold;
    font-family: Helvetica;
    top: 50%;
    position: absolute;
    color: #ffffff;
    background-color:rgba(0,0,0,.4)
    }
    .intro-title1 {
        font-size: 50px;
        font-weight: bold;
        font-family: Helvetica;
        top: 25%;
        position: absolute;
        color: #ffffff;
        background-color: rgba(0,0,0,.4)
    }

    /*導覽列區塊CSS*/
.menu {
    width: 80%;
    overflow: auto;
    background-color: rgb(255 255 255 / 0);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    .detail {
    background-color: #000;
    padding: 2.5%;
    }

.menu li {
    width: 8em;
    line-height: 2.5em;
    float: left;
    position: relative;
    z-index: 1;
}


    .menu li a {
    display: block;
    text-align: center;
    color: #000000;
    }

    .detail li a {
    color: #fff;
    font-size:25px; 
    }

    .detail .seperate-bar {
    width: 7em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    }

    .menu li a:link {
    text-decoration: none;
    }
.g16-btn:hover:after {
    opacity: 1;
}
.g16-btn:hover .g16-btn {
    background-color: #fff2004a;
}
.g16-btn.clickactive:after {
    opacity: 1;
}

.menu>li>a:hover .menu>li>a:after {
    transform:scale(2)
}
.g16-btn:after {
    content: "";
    position: absolute;
    background: #3330 url(../img/16img/background/button_list.png)no-repeat;
    width: 85%;
    height: 100%;
    background-size: contain;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0.4;
}

#switch{
    width:10%;
    display:flex;
    justify-content:center;
}

.detail li a:hover {
    color: orange;
}

    ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .transition {
    transition: .4s;
    }
    /*網頁路徑區塊CSS*/
    #view-class {
    height: 50px;
    display:flex;
    }

    .web-path {
    margin: 2%;
    }


    /*畫廊*/
    section.gallery {
    margin: 0 auto;
    width: 70%;
    position:relative;
    height:100%;
    }


    .class-gallery {
    height: 100%;
    }

    section.gallery img {
    opacity:.8
    }

    .gallery-article {
    top: 58px;
    width: 45%;
    position: absolute;
    left: 720px;
    }

    .gallery-article p {
    line-height: 35px;
    color: #fff;
    font-size: 20px;
    }

    .gallery-article h1 {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    }

    .cover-block {
    position: absolute;
    width: 46%;
    background-color:black;
    height:650px;
    opacity:.2;
    top:58px;
    left:720px;
    border-radius:15px;
    }
    .gallery .boxing {
    left: 0;
    }

    .gallery .yoga {  
    height:690px;
    }

    .gallery .flywheel {
    left: 0;
    }

    .gallery .flywheel {
    left: 0;
    top: 132px;
    height: 690px;
    }
    .gallery .TRX {
    top:131.25px;
    }

    /*所有教練一覽*/


    div.coach-secondary {
    margin: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    }

    div.coach-secondary h1 {
    color: white;
    }
/*下拉式選單*/
    div.wrapper{
        display:inline-block;
        margin-top:5%;
        margin-left:20%;
    }

.coach-menu .filter {
    width: 400px;
    user-select: none;
    /*background-color:orange;*/
    text-align: center;
    font-size: 20px;
    color: orange;
    border-bottom: 1px solid orange;
    padding-bottom: 10px;
}


.coach-menu {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .coach-menu.active {
        
    }

    .coach-menu ul {
        position: relative;
        left: 0;
        top: 0;
        /*background: rgba(255,255,255,.8);*/
        width: 400px;
        opacity: 0; /*表示完全透明 */
        height: 310px;
        overflow: hidden;
        text-align: center;       
        background-color:black;
        color: orange;
    }

    .coach-menu.active ul {
        opacity: 1;
        max-height: 310px;
        z-index: 999;
        color:orange;
        border: 1px solid orange;
    }

    .coach-menu.active ul li{
        
    }

    .coach-menu ul li a {
        display: block;
        padding: 10px 12px;
    }

        .coach-menu ul li a:hover {
            background: white;
        }
/*授課教練一覽*/
.coach-outer-all {
    height: 100%;
    width: 100%;
    background-color:transparent;
}


.coach-outer-frame {
    display: inline-flex;
    justify-content: space-around;
    padding: 10px 100px;
    position: relative;
    flex-flow: wrap;
}

    .coach-outer-frame .coach-inner-container {
        background-color: rgba(0 0 0/0.5);
        backdrop-filter: blur(10px);
        width: 500px;
        height: 350px;
        border-radius: 20px;
        border-top: 1px solid rgb(255 255 255 / 50%);
        padding: 10px;
        padding-left: 20px;
        margin: 20px;
        transition: 0.7s;
        overflow: hidden;
        position: relative;
    }
.coach-inner-container:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgb(255 235 59 / 68%);
    transition: 0.7s;
}

.coach-outer-frame .coach-inner-container:hover {
    background-color: rgba(0 0 0/0.6);
}

.coach-outer-frame .coach-inner-container:hover:before {
    height:20px;
}

    .coach-outer-frame .coach-inner-container img {
    border-radius: 50%;
    }
.coach-outer-frame .coach-inner-container imgBX {
    border-radius: 50%;
}
    .coach-outer-frame .coach-inner-container .business-card-right-top {
    display: inline-block;
    width: 50%;
    height: 50%;
    padding: 5%;
    padding-right:10%;
    float:right;
    }

    .coach-outer-frame .coach-inner-container .business-card-right-top p {
    color: white;
    font-size: 20px;
    }

    .coach-outer-frame .coach-inner-container .business-card-right-top div {
    color: white;
    margin: 20px 0;
    }

    .coach-outer-frame .coach-inner-container .business-card-right-top div:hover {
    color: orange;
    }


    .coach-outer-frame .coach-inner-container .business-card-bottom {
    margin: 10px;
    background-color: rgba(0,0,0,.1);
    height: 20%;
    padding: 5px;
    border-radius: 15px;
    word-break:break-word;
    width:50%;
    color:white;
    font-size:20px;
    }

    /*教練互動式選單*/


.modal-content .modal-body .each-comment {
    height: 220px;
    margin:10px;
    border-bottom:1px solid rgba(0,0,0,.1);
    display:flex;
    justify-content:space-around;
    flex-flow:wrap;   
    
}

.modal-content .modal-body .each-comment .member-figure {
    width: 30%; 
    height:60%;
    overflow:hidden;
}
.member-figure{
    overflow:hidden;
}
.member-figure img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}
    .modal-content .modal-body .each-comment i {
        font-size: 130px;
        padding: 0 20px 20px 20px;
    }

.modal-content .modal-body .each-comment .member-name{
    display:inline-block;
}

.modal-content .modal-body .each-comment .member-name p{
    margin:15px;
    font-size:30px;
    font-weight:bold;   
}

.modal-content .modal-body .each-comment .member-name h6 {
    text-align:center;
}

.modal-content .modal-body .each-comment .comment-content{
    width:100%;   
    height:30%;
    background-color:rgba(0,0,0,.1);
    padding:10px;
    border-radius:15px;
}

/*-----篩選器排版-------*/
.div-16Coach-all{
    width:100%;
    height:36px;
}
.div-16Coach-window {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.div-16Coach-filter-out {
    margin: 20px 0;
    background-color: transparent;
    border-bottom: 3px #fff solid;
    border-top: 3px #fff solid;
}
.div-16Coach-result {
    width: 50%;
    height: 100%;
    font-size: 24px;
    color: white;
}
.div-16Coach-filter {
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateX(140px);
}
.div-16Coach-filter2 {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.div-16Coach-filter-filter7 {
    width: 10%;
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    align-content: space-evenly;
}
.div-16Coach-filter-filter71 {
    width: 15%;
    height: 100%;
    display: grid;
    align-content: space-around;
    justify-content: end;
}
.div-16Coach-filter-filter20 {
    width: 20%;
    height: 100%;
    padding: 0 50px;
    position:relative;
}
.div-16Coach-filter-filter201 {
    width: 20%;
    height: 100%;
}
.div-16Coach-filter-filter30 {
    width: 30%;
    height: 100%;
    align-content: space-around;
    padding:0 50px;
    display:flex;
    flex-wrap:wrap;
}
.div-16Coach-filter-filter40 {
    width: 30%;
    height: 100%;
    align-content: space-around;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div-16Coach-filter-class {
    width: 10%;
    height: 100%;
    padding: 1px 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    align-content: space-around;
}
.div-16Coach-filter-filter40-select {
    width: 25%;
    height: 100%;
}
.bord-right-16 {
    border-right: 2px solid rgb(92 92 92 / 0.95);
}
.slider-range {
    background-color: #ef9e1660;
}
.slider-range .ui-slider-range {
    background-color: #ef9e16;
}
.btn-16Coach-filter {
    margin: 0 auto;
    color: white;
    width: 50px;
}
.btn-16Coach-filter2 {
    color: white;
    background-color: #59465efa;
    width: 100px;
    height: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
/*animation: looprotate 4s linear infinite;*/
@keyframes looprotate {
    from {
        transform:rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.btn-16Coach-filter2:after {
    content: "";
    width: 135px;
    height: 135px;
    background: url(../img/16img/background/icon-outter-13.png) no-repeat;
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    background-size: contain;
    animation: looprotate 4s linear infinite;
}


.btn-16class-result {
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    background-color: transparent;
}

.btn-16class-result i {
    font-size: 16px;
    margin-right: 20px;
}

.btn-16class-result:after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid red;
    transition: all 0.3s ease;
}
.class-calendar {
    background-color:transparent;
}
.wc-container {
    padding-top:50px;
    background-color: #00000090;
}

.div16-class-filter-word1 {
    padding: 35px 0px 50px 100px;
    line-height: 36px;
    height: 180px;
    margin-top: 10%;
    background: linear-gradient( 270deg, rgb(0, 0, 0)36%, rgba(0, 0, 0, 0.04)74%);
    position: relative;
    /*left: -129px;*/
    width: 100%;
    text-shadow: 2px 2px 1px #5c5b5b;
    align-content: space-around;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
}
.div16-class-filter-hint {
    font-weight:bold;
    font-size:1.1em;
    text-align:center;
    text-shadow:none;
    color:black;
    position: absolute;
    bottom: -44px;
    left: -47px;
    width: 306px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    opacity: 0;
    transition: 0.7s;
}
    .div16-class-filter-hint:after {
        z-index:-1;
        content: "";
        position: absolute;
        width: 0px;
        height: 0;
        left: -1px;
        top: -16px;
        /* bottom: -35px; */
        border-style: solid;
        border-width: 0 13px 60px 109px;
        border-color: transparent transparent #ffffff transparent;
    }

.div-range {
    margin-top: 15%;
    width: 100%;
    height: 100px;
    padding: 0 50px;
}
.div-range p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.filter-16Coach-title {
    font-size: 18px;
}
.filter-16Coachm-control {
    height: 20px;
}
/*.div16-class-filter-word1:before {
    content: "";
    position: absolute;
    background: url(../img/16img/background/about-line-pic.jpg)no-repeat;
    background-size: cover;
    width: 87%;
    height: 5px;
    top: 145px;
    left: 69px;
    bottom: -150px;
}*/

/*課程購買*/
.div-Purchase-out {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
}
.div-Purchase-out1 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
.img-box-Purchase {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 40%;
    padding-bottom: 20px;
}
    .img-box-Purchase:after {
        content: "";
        position: absolute;
        width: 86%;
        height: 2px;
        background-color: orange;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
.img-box-Purchase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
div-Purchase-out div{
    font-size:18px;
}
.Purchase-title {
    margin-top: 25px;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}
.Purchase-word {
    font-size: 15px;
    margin-top: 30px;
    padding: 0 35px;
}
.div-lesson-time {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;
}
.div-lesson-title {
    width: 100%;
    text-align: center;
    margin: 20px auto 0;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #ffffff30;
    border-bottom: 5px solid orange
}
.div-lesson-time ul {
    background-color: #ffffff30;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 0;
}
.div-lesson-time li {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.Purchase-class-detail s {
    margin-left: 3%;
    font-size: .8em;
    color: orange;
}
.Purchase-class-detail {
    display: flex;
    justify-content: space-evenly;
}
.Purchase-class-detail div{
    width:50%;
}
.Purchase-class-detail, .Purchase-class-detail-math {
    text-align: center;
    font-size: 24px !important;
    font-weight: 900;
}
.Purchase-class-detail-math {
    width: 100%;
    font-size: 28px;
    /*color: red;*/
/*    animation: big 3s linear infinite;
    transition: 1.5s;*/
}
@keyframes big {
    0% {
        transform: scale(1);
    }
    50% {
        transform:scale(1.2)
    }
    100% {
        transform: scale(1);
    }
}