
@{
    ViewData["Title"] = "Index";
}
<section class="outer-frame">
    <div>
        <div class="container">
            <h2 class="intro-title">關於我們</h2>
            <img src="~/img/about.jpg" />
        </div>
    </div>
</section>

<section class="choseus-section spad-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <label style="font-size:30px;color:white;font-weight:bold;color:orange" >Fitness House，陪伴你每一天</label>
                </div>
            </div>
        </div>
        <table align="center" width="1000px">
            <tr>
                <td>
                    <div class="cs-item">
                        <a href="https://localhost:44356/About/List">
                            <span class="flaticon-010-lockers"></span><br />
                            <label style="color:white;font-size:30px;margin-top:24px;margin-bottom:16px;font-weight:600">設備環境</label>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="cs-item">
                        <a href="https://localhost:44356/About/ContactInformation">
                            <span class="flaticon-028-weightlifting"></span><br />
                            <label style="color:white;font-size:30px;margin-top:24px;margin-bottom:16px;font-weight:600">聯絡資訊</label>
                        </a>
                    </div>
                </td>
                <td>
                    <div class="cs-item">
                        <a href="https://localhost:44356/About/ServiceList">
                            <span class="flaticon-014-heart-beat"></span><br />
                            <label style="color:white;font-size:30px;margin-top:24px;margin-bottom:16px;font-weight:600">服務表單</label>
                        </a>
                    </div>
                </td>
            </tr>

        </table>
    </div>
</section>



