
@{
    ViewData["Title"] = "OneCourse_benefit";
}

<style>
    body {
        background: rgb(0 0 0/.8) url(../img/16img/background/meal_bg.png);
        background-attachment: fixed;
        background-size: contain;
        background-position: bottom;
    }
</style>


<section class="outer-frame">
    <div class="div-container-out background-grey">
        <div class="div-container">
            <h2 class="topheader-title">一　對　一　課　程　介　紹</h2>
            <img src="~/img/16img/background/backgroundonecourse1.jpg" />
        </div>
    </div>
</section>
<section class="web-path 16-border">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="breadcrumb-text">
                <div class="bt-option">
                    <a asp-controller="BackHome" asp-action="List">主頁</a>
                    <span>一對一課程介紹</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------------------------------>
<section>
    <div class="div16-oneCourse-out">
        <div class="div16-oneCourse-introduce">
            <div class="div16-oneCourse-introduce-word1">
                <div class="div16-oneCourse-introduce-title">一　　對　　一　　課　　程</div>
                    <div class="oneCourse-introduce">個人化課程設計，大幅增加訓練效率。</div>
                    <div class="oneCourse-introduce">嚴格管控訓練過程，安全有保障。</div>
                    <div class="oneCourse-introduce">專業飲食控制，保持完美體態。</div>
                    <div class="oneCourse-introduce">一對一教練紀錄各堂體態變化，改變清晰可見。</div>
            </div>
            <div class="div16-oneCourse-introduce-pic">
                <img src="~/img/16img/background/oneCoach.png" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="div16-oneCourseFemale-out">
        <div class="div16-oneCourseFemale-introduce">
            <div class="div16-oneCourseFemale-introduce-title">一　對　　一　　女　性　專　班</div>
            <div class="oneCourseFemale-introduce">女性專屬課程，上課不尷尬。</div>
            <div class="oneCourseFemale-introduce">整合性別友善運動社群與社會福祉。</div>
            <div class="oneCourseFemale-introduce">增進女性運動與休閒參與。</div>
            <div class="oneCourseFemale-introduce">一對一教練紀錄保密體態變化，隱私有保障。</div>
            <div class="div16-oneCourseFemale-introduce-pic">
                <img src="~/img/16img/background/oneCoach-woman.png" />
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
</script>

