
@{
    ViewData["Title"] = "errorView";
    Layout = "~/Views/Shared/_BackstageLayout.cshtml";
}

<head>
    <meta http-equiv="refresh" content="3; url='@Url.Content(ViewBag.url )'">
</head>

<style>
    .coachTitle {
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: 800;
        /*margin:0 0 0 500px*/
    }

    #myTable {
        margin: 15px 0;
        /*border: 1px solid #D0D0D0;*/
        /*padding:10px 0 0 0*/
    }
    /*    tr {
        border-bottom: 2px solid gray;
    }*/
    th {
        text-align: center;
        width: 100px;
        /*background-color: #FBFBFF;*/
        height: 40px
    }

    .page-breadcrumb {
        margin: 60px 0 15px 0;
    }

    .breadcrumb-item {
        font-size: 15px
    }

    td {
        text-align: center;
    }

    .table {
        width: 1300px;
        border: 1px solid #D0D0D0;
        background-color: #FCFCFC
    }

    .backTh {
        width: 100px
    }

    .backCBody {
        padding: 50px 0 0 20px;
        width: 1400px
    }

    .frame {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .form {
        display: inline;
        position: absolute;
        right: 0;
    }

    body {
        background-color: #efeff6
    }

    .divnone {
        height: 40px
    }

    .addbtn {
        margin: 10px 0 0 0
    }

    .thCount {
        width: 7%
    }

    .thbtn {
        width: 15%
    }

    .th10 {
        width: 10%
    }

    #myTable th {
        background-color: #4F4F4F;
        color: white;
        height: 90%
    }

    #myTable a {
        font-size: 12px
    }
</style>

<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
<script src='//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js'></script>
<link href='//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css' rel='stylesheet' />


<div class="backCBody">
    <div class="frame">
        <h1 class="coachTitle">錯誤訊息</h1>
    </div>
    <div class="page-breadcrumb">
        <nav aria-label="breadcrumb" style="border-top: 1px solid #ADADAD ">
        </nav>
    </div>

    <div style="display:flex;justify-content:center;margin:100px 0 50px 0">
        <p style="font-size: 40px; font-weight: 900; background-color: rgb(255, 0, 0,0.3);display:inline ">
            @ViewBag.error
        </p>
    </div>
    <p style="font-size: 20px; font-weight: 900;display:block;text-align:center ">三秒後，自動跳轉回原頁面 .....</p>

    <img src="~/img/Error.png" style="width:50%;display:block; margin:auto;" />

</div>





