@model IEnumerable<prjGymEndTerm.Models.News>
@*@model List<prjGymEndTerm.ViewModels.News_ViewModels.CNewsViewModel>*@
@{
    ViewData["Title"] = "discount2";
}
<style>
    .carousel-inner {
        margin: 0 auto;
    }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="text-align: center">
            <img src="~/img/news/16.jpg" alt="新會員課程優惠" height="300">
        </div>
        <div class="carousel-item" style="text-align: center">
            <img src="~/img/news/4.jpg" alt="加入優惠" height="300">
        </div>
        <div class="carousel-item" style="text-align: center">
            <img src="~/img/news/9.jpg" alt="會員免費體態檢測" height="300">
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="text-align: center; display: block;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="text-align: center; display: block;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    @*<span>What we do?</span>*@
                    <h2>優惠方案</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <button style="background-color: transparent; border: 0px; " type="button"
                            class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                        <img src="~/img/news/40.jpg" alt="">
                    </button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color:black;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;">武術有氧優惠中</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/img/news/40.jpg" alt="">
                                </div>
                                <div class="modal-footer; text-align:center;">
                                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>*@
                                    <div style="color: white; text-align: center;">最新武術有氧邀請您參加現在報名享有優惠，詳情請洽教練或櫃檯!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>武術有氧優惠中</h4>
                    <p>
                        最新武術有氧邀請您參加現在報名享有優惠，詳情請洽教練或櫃檯!!
                    </p>
                    @*<a href="#">Explore</a>*@
                </div>
            </div>
            <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                <div class="ss-pic">
                    <button style="background-color: transparent; border: 0px; " type="button"
                            class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <img src="~/img/news/30.jpg" alt="">
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color:black;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;">雙十一優惠</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/img/news/30.jpg" alt="">
                                </div>
                                <div class="modal-footer; text-align:center;">
                                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>*@
                                    <div style="color: white; text-align: center;">雙十一購買課程享有特別優惠，詳情請洽教練或櫃檯!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-4 col-md-6 p-0">
                <div class="ss-text">
                    <h4>雙十一優惠</h4>
                    <p>雙十一購買課程享有特別優惠，詳情請洽教練或櫃檯!!</p>
                    @*<a href="#">Explore</a>*@
                </div>
            </div>
            @*///*@
            <div class="col-lg-3 order-lg-8 col-md-6 p-0">
                <div class="ss-pic">
                    <button style="background-color: transparent; border: 0px; " type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                        <img src="~/img/news/35.jpg" alt="">
                    </button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color:black;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;">健身振興方案</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/img/news/35.jpg" alt="">
                                </div>
                                <div class="modal-footer; text-align:center;">
                                    <div style="color: white; text-align: center;">健身振興方案3000最高折抵9000，詳情請洽教練或櫃檯!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-7 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>健身振興方案</h4>
                    <p>
                        健身振興方案3000最高折抵9000，詳情請洽教練或櫃檯!!
                    </p>
                    @*<a href="#">Explore</a>*@
                </div>
            </div>

            @*///*@
            <div class="col-lg-3 order-lg-6 col-md-6 p-0">
                <div class="ss-pic">
                    <button style="background-color: transparent; border: 0px; " type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal5">
                        <img src="~/img/news/36.jpg" alt="">
                    </button>
                    <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="background-color:black;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="color:white;">學生優惠方案</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/img/news/36.jpg" alt="">
                                </div>
                                <div class="modal-footer; text-align:center;">
                                    <div style="color: white; text-align: center;">憑學生證購買課程享有優惠 詳情請洽教練或櫃檯!!</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 order-lg-5 col-md-6 p-0">
                <div class="ss-text second-row">
                    <h4>學生優惠方案</h4>
                    <p>
                        憑學生證購買課程享有優惠 詳情請洽教練或櫃檯!!
                    </p>
                    @*<a href="#">Explore</a>*@
                </div>
            </div>
            @*///*@
        </div>
    </div>




    <div class="blog-pagination" style="text-align: center">
        <a href="./discount">1</a>
        <a href="./discount2">2</a>
        <a href="./discount2">Next</a>
    </div>
</section>
<!-- Blog Section End -->
