
@{
    ViewData["Title"] = "ForgetPassword";

}

    <div style="height: 300px; width: 400px; margin: auto;  position: relative"  class="card borderless text-center">
        <div style="margin: auto; top:20px; position:relative">
            <h2 >忘記密碼?</h2>
            <p>輸入與您的帳號關聯的電子郵件<br>我們將通過電子郵件給您發送連結，以重設您的密碼。</p>
        </div>                   
        <div class="login-form formplate">
            <label>輸入電子郵件:</label>
            <input placeholder="輸入電子郵件" name="email" type="email" id="email">
            <hr/>                
            <input style="width: 20%; margin:auto; position: relative" type="submit" value="送出" class="btn btn-block btn-primary mb-4">
        </div>        
    </div>


