<style>
</style>
<body class="index-body">
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item news set-bg" data-setbg="../img/hero/index1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1></h1>
                                <a asp-controller="News" asp-action="popularActivities" class="primary-btn">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item news set-bg" data-setbg="../img/16img/img-138.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span></span>
                                <h1></h1>
                                <a href="" class="primary-btn">了解更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- ChoseUs Section Begin -->
    <section>
        <div class="div-equipmentGD-out">
            <div class="div-equipmentGD">
                <div class="div-equipmentGD-Word">
                    <div class="div-equipmentGD-in">
                        <div class="equipmentGD-title">良　好　的　設　備　環　境</div>
                        <div class="equipmentGD-content">　　FitnessHouse生活館 成立於2021年，採用頂級MATRIX 健身器材、重訓Cybex器材、Crossfit區域、，設有團體課教室，並有私人教練一對一教學。場館健身區多為自然採光，乾淨、明亮、舒適。 FitnessHouse 堅持健身品質，為提高室內氧氣含量，每二小時全館全面換氣，使健身運動保持最佳效果。</div>
                        <div class="div-equipmentGD-a">
                            <a asp-controller="About" asp-action="List" class="Customization-a">詳細資訊</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="div-Customization-out">
            <div class="div-Customization-pic">
                <div class="Customization-pic"></div>
            </div>
            <div class="div-Customization-Word">
                <div class="div-Customization-in">
                    <div class="Customization-title">客　製　化　課　程</div>
                    <div class="Customization-content">FitnessHouse生活館 提供專業客製化課程，由專業教練為您量身打造符合您需求的重訓菜單，讓您確切掌控且達成您預期的健身效果!!!</div>
                    <div class="div-Customization-a">
                        <a asp-controller="Experience" asp-action="客製化課程_資訊蒐集" class="Customization-a">GO</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="div-onecoures-out">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="team-title">
                            <div class="section-title">
                                <span>授課團隊</span>
                                <h2>教練精選集</h2>
                            </div>
                            @*<a href="#" class="primary-btn btn-normal appoinment-btn">appointment</a>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="ts-slider owl-carousel">
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="../img/team/team-2.jpg">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="../img/team/team-3.jpg">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>                                        
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="../img/team/team-4.jpg">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>                                        
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="../img/team/team-5.jpg">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>                                        
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="ts-item set-bg" data-setbg="../img/team/team-6.jpg">
                                <div class="ts_text">
                                    <h4>Athart Rachel</h4>
                                    <span>Gym Trainer</span>
                                    <div>                                        
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="div-GroupCourse-out">
            <div class="div-GroupCourse-title">
                <div class="GroupCourse-title">團　體　課　程</div>
                <div class="GroupCourse-content">FitnessHouse生活館各項團體課程。</div>
                <nav id="view-class" class="view-class">
                    <ul id="category" class="menu transition">
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="0">所有課程</a></li>
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="1">有氧課程</a></li>
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="2">拳擊課程</a></li>
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="3">瑜珈課程</a></li>
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="5">飛輪課程</a></li>
                        <li  class="g16-Group-li"><a class="btn g16-btn" data-type="6">TRX課程</a></li>
                    </ul>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" id="labelswitch" for="customSwitch1">推薦</label>
                    </div>
                </nav>
            </div>

            <div class="div-GroupCourse-Class-out">
                <div class="top1-3">
                    <div class="div-GroupCourse-GroupClass">
                        <div class="rank-display rank-display-1"><i class="fas fa-crown"><span>1</span></i></div>
                            <img class="img-GroupCourse" />
                        <div class="intro-text textPositionBig"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <div class="rank-display rank-display-2"><i class="fas fa-crown"><span>2</span></i></div>
                        <img class="img-GroupCourse" />
                        <div class="intro-text textPositionBig"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <div class="rank-display rank-display-3"><i class="fas fa-crown"><span>3</span></i></div>
                        <img class="img-GroupCourse" />
                        <div class="intro-text textPositionBig"></div>
                    </div>
                </div>
                <div class="div-GroupCourse-GroupClass-out">
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse" />
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">4</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse" />
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">5</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse" />
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">6</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse" />
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">7</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse" />
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">8</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                    <div class="div-GroupCourse-GroupClass">
                        <img class="img-GroupCourse"/>
                        <div class="GroupCourse-ClassName-out">
                            <div class="GroupCourse-ClassName"></div>
                            <div id="text">9</div>
                        </div>
                        <div class="intro-text textPositionSmall"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>    justify-content: space-around;
    <!-- Gallery Section Begin -->
    <!-- Gallery Section End -->
</body>

@section Scripts{
    <script src="~/js/主頁.js"></script>
    <script>
        var strJson = '@ViewBag.News';
        var strReplace = strJson.replaceAll("&quot;", '"');
        var data = JSON.parse(strReplace);
        loadnews(data);
        $(".g16-btn").click(function () {
            console.log(document.querySelector(".g16-btn").children);
            $("g16-Group-li a::after").siblings().css("opacity", "1")
                .end().css("opacity", "1");
        })
    </script>
}